---
import H2 from "./reusableUIelements/H2.astro";
---
<section id="about" class="mb-24 lg:mb-32">
    <H2 heading="About" />
    <div>
        <p class="font-medium mb-3">⏲️ Coming soon ...</p>
        <p>For now, please explore the rest of my portfolio.</p>
    </div>
</section>