---
import H2 from "./reusableUIelements/H2.astro";
import ExperienceEducationCard from "./reusableUIelements/ExperienceEducationCard.astro";
---
<section id="education" class="mb-20">
    <H2 heading="Education" />
    <ul>
        <ExperienceEducationCard
            start="2022"
            title="Bachelor of Science &#183; Information Technology"
            subtitle="George Mason University"
            description="Concentration: Web Development"
            techUsed={
                ["HTML", "CSS", "JavaScript", "SQL", "Python", "Git", "Swift"]
            }
        />
        <ExperienceEducationCard
            start="2019"
            title="Associate of Arts & Sciences &#183; General Studies"
            subtitle="Germanna Community College"          
            techUsed={
                ["Python", "Java"]
            }
        />
    </ul>
</section>