---
import { Icon } from 'astro-icon/components';
---

<header class="lg:sticky lg:top-0 lg:max-h-screen pb-28 lg:py-28 lg:w-[45%]">
	<div class="mb-8 lg:mb-20">
		<h1 class="text-4xl sm:text-5xl mb-3 font-bold">Dimitrik Johnson</h1>
		<h2 class="text-xl mb-4 font-medium">Front-End Developer</h2>
		<p class="max-w-xs">I'm a developer who's passionate about bringing ideas to life with code.</p>	
		{ /* Add jump links later
		<div class="hidden mt-12 lg:block lg:mt-20">
			<ul class="text-sm uppercase font-semibold">
				<li>
					<a href="#about">About</a>
				</li>
				<li>
					<a href="#experience">Experience</a>
				</li>
				<li>
					<a href="#projects">Projects</a>
				</li>
				<li>
					<a href="#education">Education</a>
				</li>
			</ul>	
		</div>
		*/}
	</div>
	<ul class="flex gap-5 items-center text-3xl" aria-label="Social Media">
		<li>
			<a href="https://www.linkedin.com/in/dimitrikjohnson/" class="hover:text-green-300" title="(opens in new tab)" aria-label="LinkedIn" target="_blank">
				<span class="sr-only">LinkedIn</span>
				<Icon name="garden:linkedin-fill-16" />
			</a>
		</li>
		<li>
			<a href="https://github.com/dimitrikjohnson" class="hover:text-green-300" title="(opens in new tab)" target="_blank" aria-label="GitHub">
				<span class="sr-only">GitHub</span>
				<Icon name="octicon:mark-github-16" />
			</a>
		</li>
		
	</ul>
</header>