---
import "../styles/global.css";
import "@fontsource-variable/inter";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Dimitrik Johnson is a developer who's passionate about bringing ideas to life with code." />
		<meta property="og:image" content="/opengraph-image.png" />
		<title>Dimitrik Johnson</title>
	</head>
	<body class="bg-zinc-900 text-zinc-400">
		<a
			class="uppercase transition rounded-md left-0 bg-green-400/10 text-green-300 font-medium absolute p-3 m-3 -translate-y-16 focus:translate-y-0"
			href="#content"
		>
			Skip to content
		</a>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
